nav {
  height: 60px;
  background-color: #1a5e99;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  @media only screen and (max-width: 375px) {
    flex-direction: column-reverse;
    height: 80px;
    justify-content: center;
    gap: 6px;
  }
  justify-content: space-between;
  .pac-target-input {
    width: 190px;
    height: 30px;
    outline: none;
    border: none;
    padding-left: 10px;
  }
  .submitValue {
    height: 30px;
    background-color: white;
    border: none;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.7s ease;
    &:hover {
      background-color: #01315b;
      color: white;
    }
  }
  #favorites {
    height: 30px;
    outline: 0;
    border: 0;
    padding: 0 10px;
  }
}

h1 {
  font-size: 60px;
  line-height: 46px;
  font-weight: 600;
  @media only screen and (max-width: 375px) {
    font-size: 47px;
  }
}

.temperature {
  font-size: 60px;
  font-weight: 400;
}

#starIcon {
  display: none;
  cursor: pointer;
  font-size: 14px;
  background-color: #00315b;
  color: white;
  padding: 5px 10px;
}

#starIconFilled {
  display: none;
  cursor: pointer;
  font-size: 14px;
  color: #00315b;
  background-color: white;
  padding: 5px 10px;
}

#currentWeather {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px 0;
  color: #00315b;
  @media only screen and (max-width: 375px) {
    flex-direction: column-reverse;
  }
  .img-icon{
    background-color: #00315b;
    border-radius: 50%;
    text-align: center;
    width: 110px;
    height: 110px;
    margin: 0 auto;
  }
}

#threeHour {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  @media only screen and (max-width: 375px) {
    flex-direction: column;
    gap: 10px;
  }
  .wheather3h {
    background-color: #fdecc0c9;
    border-radius: 0 50px;
    padding: 16px 30px;
    margin: 0 5px;
    max-width: 105px;
    @media only screen and (max-width: 375px) {
      padding: 10px;
      margin: 0 55px;
    }
  }
}

hr {
  width: 85%;
  margin: 0 auto;
  height: 1px;
  border: none;
  background-color: white;
  margin-top: 20px;
}

.currentWeather {
  text-align: center;
}

#fiveDays {
  display: flex;
  justify-content: center;
  text-align: center;
  @media only screen and (max-width: 375px) {
    flex-direction: column;
    gap: 10px;
  }
  .wheather {
    background-color: #fcd291c9;
    padding: 16px 46px;
    margin: 0 10px;
    border-radius: 50px 0;
    cursor: pointer;
    transition: all 0.7s ease;
    min-width: 128px;
    @media only screen and (max-width: 375px) {
      padding: 10px;
      margin: 0 50px;
    }
    &:hover {
      background-color: #ffc36ac9;
    }
  }
}
